{% extends 'base.html' %}
{% load static %}
{% load humanize %} <!-- https://docs.djangoproject.com/en/3.0/ref/contrib/humanize -->
{% block title %}成本模型详细{% endblock %}

{% block css %}

{% endblock %}

{% block breadcrumb %}
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        成本模型详细
        <small>Costmodel Info</small>
      </h1>
      <p>
        <a href="{% url 'breakdowns:costbreakdown_update' costbreakdown.id %}">更新<i class="fa fa-pencil"></i></a><br>
        <a href="{% url 'breakdowns:costbreakdown_delete' costbreakdown.id %}">删除<i class="fa fa-trash"></i></a>
      </p>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li>成本模型总表</li>
        <li class="active">成本模型详细</li>
      </ol>
    </section>
{% endblock %}

{% block content %}

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">

        <div class="box-header with-border">
          <h3 class="box-title"><strong class="btn btn-block btn-primary btn-lg">成本模型：{{ costbreakdown.description }}</strong></h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>

        <div class="box-body">
          <h4><b>概览:</b></h4>
            <table border="1" class="table  table-responsive" style="border-left:3px solid deepskyblue;border-bottom:1px solid deepskyblue" >
                <thead>
                    <tr>
                        <th>公司</th>
                        <th>国家</th>
                        <th>地区</th>
                        <th>行业</th>
                        <th>型号</th>
                        <th>更新日期</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ costbreakdown.company }}</td>
                    <td>{{ costbreakdown.country }}</td>
                    <td>{{ costbreakdown.region }}</td>
                    <td>{{ costbreakdown.industry }}</td>
                    <td>{{ costbreakdown.part_number }}</td>
                    <td>{{ costbreakdown.updated_at|date:"Y/m/d" }}</td>
                </tr>
                </tbody>
            </table>
            <br />
            
          <h4><b>总成本明细:</b></h4>
            <table border="1" class="table  table-responsive" style="border-left:3px solid green;border-bottom:1px solid green">
                <thead>
                    <tr>
                        <th>应该成本</th>
                        <th>物料总成本</th>
                        <th>制造成本</th>
                        <th>管理成本</th>
                        <th>其它直接成本</th>
                        <th>利润</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ costbreakdown.total_cost }}</td>
                    <td>{{ costbreakdown.material_cost }}</td>
                    <td>{{ costbreakdown.manufacturing_cost }}</td>
                    <td>{{ costbreakdown.overhead_cost }}</td>
                    <td>{{ costbreakdown.special_cost }}</td>
                    <td>{{ costbreakdown.profit }}</td>
                </tr>
                </tbody>
            </table>
          
            <h4><b>物料成本明细:</b></h4>
            <table border="1" class="table  table-responsive" style="border-left:3px solid purple;border-bottom:1px solid purple">
                <thead>
                    <tr>
                        <th style="width:5%;">序号</th>
                        <th>物料成本</th>
                        <th>损耗成本</th>
                        <th>管理成本</th>
                        <th>间接成本</th>
                    </tr>
                </thead>
                <tbody>
                {% for material in costbreakdown.materialbreakdown_set.all %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ material.bom_cost }}</td>
                    <td>{{ material.loss_cost }}</td>
                    <td>{{ material.material_overhead_cost }}</td>
                    <td>{{ material.indirect_cost }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>   
        </div>
          <!-- /.box-body -->
        <div class="box-footer">
          <i class="fa fa-angle-double-left"></i>&nbsp;&nbsp;<a href="{% url 'breakdowns:all' %}"><strong>返回成本模型总表</strong></a>

        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->

{% endblock %}

{% block script %}

{% endblock %}